{% extends 'base.ecole.html.twig' %}

{% block title %}SYSCHOOL - Ajoute de nouvelles classes{% endblock %}

{% block body %}
<h1>Ajouter une nouvelle Classe</h1>
<div class="row">
    {{form(form)}}
</div>
{% endblock %}