{% extends 'base.ecole.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}
<h1>Classes</h1>
<a href="" class="btn btn-info mb-2 px-3">Ajouter</a>
<div class="card">
<div class="card-body">
interface
</div>
</div>
{% endblock %}
